@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
  /*************************** Strategy ************************************/

  /*************************** Customers ************************************/
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-container {
    height: 72px;
  }
  .heder-logo {
    margin-right: 120px;
  }
  .header-menu {
    display: flex;
    gap: 40px;
  }

  .header-menu .list {
  }

  .header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--valhalla-color);
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: var(--free-speech-blue);
  }

  .open-menu-btn {
    display: none;
  }

  .current {
    position: relative;
    color: #404bbf;
  }

  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--free-speech-blue);
  }

  .header-contacts {
    font-style: normal;
    display: flex;
  }

  .contacts-menu {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 12px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .header-contacts-link:hover,
  .header-contacts-link:focus {
    color: var(--free-speech-blue);
  }
  .header-contacts-link {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.48px;
    color: var(--gun-powder-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hero {
    height: 436px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab.jpg);
  }

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
    max-width: 496px;
    margin: 0 auto 36px;
  }

  /*************************** Strategy ************************************/

  .advantage-list {
    gap: 24px;
  }
  .advantage-item {
    max-width: 356px;
    width: calc((100% - 24px) / 2);
  }

  .subtitle-phone {
    text-align: start;
  }
  /*************************** Our Team ************************************/
  .team {
    height: 1224px;
  }
  .team-container {
    max-width: 584px;
  }
  .team-list {
    gap: 62px 24px;
  }

  .team-item {
    max-width: calc((100% - 24px) / 2);
  }
  /********************************* section customers **********************************/
  .customers-container {
    width: 552px;
    height: 360px;
  }
  .customers-list {
    gap: 72px 24px;
  }
  .customers-item {
    width: 168px;
    width: calc((100% - 48px) / 3);
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .header-menu-link {
    letter-spacing: 0.02em;
  }

  .heder-logo {
    margin-right: 76px;
  }

  .header-contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .contacts-menu {
    flex-direction: row;
    margin-top: 0;
    gap: 40px;
  }

  .hero {
    padding: 188px 0;
    height: 600px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg.jpg);
  }

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-2x.jpg);
    }
  }

  .hero-title {
    letter-spacing: 0.02em;
    margin: 0 auto 48px;
  }
  /*************************** Strategy ************************************/
  .strategy {
    padding: 120px 0;
  }

  .advantage-item {
    width: calc((100% - 72px) / 4);
  }

  .advantage-icons-block {
    content: "";
    width: 264px;
    height: 112px;
    background: var(--ghost-white-color);
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .advantage-text {
    letter-spacing: 0.02em;
  }

  .subtitle-phone {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  /*************************** What are we doing ************************************/

  .products {
    display: block;
    padding-bottom: 120px;
  }

  /*************************** Our team ************************************/

  .team {
    padding: 120px 0;
    height: 780px;
  }
  .team-list {
    gap: 24px;
  }

  .team-item {
    max-width: calc((100% - 72px) / 4);
  }
  .customers-container {
    height: 200px;
    width: 1158px;
  }

  .customers {
    padding: 120px 0;
  }

  .customers-list {
    gap: 24px;
  }
  .customers-item {
    width: calc((100% - 120px) / 6);
  }
}
